@model IEnumerable<TheHotel.Data.Entity.FoodCheckIn>


@{
    ViewData["Title"] = "Index";
}

<div class="tooltips float-left">
    <i class="fas fa-info-circle"></i>
    <span class="tooltiptexts text-sm-left">
        Denne side viser antal gæster der er blevet tjekket ind <br /><br />

        Den grønne tabel til højre viser hvor mange gæster der er tjekket ind.<br />
        Den røde tabel til højre viser hvor mange gæster der mangler at blive tjekket ind.<br />
    </span>
</div>

<div class="text-center">
    <h1 class="display-4">Tjek Ind's</h1>
</div>



<p><a class="btn btn-success btn-lg" asp-action="Create">Tjek Gæst Ind</a></p>




<table class="table col-3 float-right">
    <thead>
        <tr class="bg-success">
            <th>
                Total
            </th>
            <th>
                Voksne
            </th>
            <th>
                Børn
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @ViewData["checkInCount"]
            </td>
            <td>
                @ViewData["checkInAdult"]
            </td>
            <td>
                @ViewData["checkInChildren"]
            </td>
        </tr>
    </tbody>

    <thead>
        <tr class="bg-danger">
            <th>
                Total
            </th>
            <th>
                Voksne
            </th>
            <th>
                Børn
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @ViewData["notCheckInCount"]
            </td>
            <td>
                @ViewData["notCheckInAdult"]
            </td>
            <td>
                @ViewData["notCheckInChildren"]
            </td>
        </tr>
    </tbody>
</table>



    <table class="table col-8 table-hover float-left">
        <thead>
            <tr class="main-table">
                <th>
                    @Html.DisplayNameFor(model => model.CheckInDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adults)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Children)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckInDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Guest.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Guest.NoAdults)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Guest.NoChildren)
                    </td>

                    <td>
                        <a class="btn btn-dark btn-sm" asp-action="Edit" asp-route-id="@item.FoodCheckInId">Edit</a>
                        @*<a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.FoodCheckInId">Details</a>*@
                        <a class="btn btn-danger btn-sm confirmDeletion" asp-action="Delete" asp-route-id="@item.FoodCheckInId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>



    @if (ViewBag.TotalPages > 1)
    {
        <div class="d-flex w-100 justify-content-center">
            <Pagination page-count="@ViewBag.TotalPages" page-target="/FoodCheckIn" page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></Pagination>
        </div>
    }
