@model IEnumerable<TheHotel.Data.Entity.Guest>

@{
    ViewData["Title"] = "Index";
}

<div class="tooltips float-lg-left">
    <i class="fas fa-info-circle"></i>
    <span class="tooltiptexts text-sm-left">
        Denne side viser antal gæster der er på hotellet og så har reservere til i morgensmads buffen<br /> <br />

        "Reservere Tidspunkt" kan ses ved at holde markøren over "Værelset nummer"<br />
        Alle gæster som jeg blevet oprette med koden seed_date her et reservere tidspunkt til den dag du har køret koden.<br />
    </span>
</div>

<div class="text-center">
    <h1 class="display-4">Gæster</h1>
</div>

<p>
    <a class="btn btn-success btn-lg" asp-action="Create">Opret Ny Gæst</a>
</p>


<table class="table col-12 table-hover">
    <thead>
        <tr class="main-table">
            <th>
                @Html.DisplayNameFor(model => model.Room.RoomNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoChildren)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td class="tooltips">
                    @Html.DisplayFor(modelItem => item.Room.RoomNr)
                    <span class="tooltiptexts">
                        Reservere Tidspunkt: @Html.DisplayFor(modelItem => item.Reserve)<br />
                    </span>          
                </td>
                <td class="tooltips">
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                    <span class="tooltiptexts">
                        Adresse: @Html.DisplayFor(modelItem => item.Address)<br/>
                        Email: @Html.DisplayFor(modelItem => item.Email)
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoAdults)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoChildren)
                </td>

                <td>
                    <a class="btn btn-dark btn-sm" asp-action="Edit" asp-route-id="@item.GuestId">Edit</a>
                    
                    <a class="btn btn-danger btn-sm confirmDeletion" asp-action="Delete" asp-route-id="@item.GuestId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>





@if (ViewBag.TotalPages > 1)
{
    <div class="d-flex w-100 justify-content-center">
        <Pagination page-count="@ViewBag.TotalPages" page-target="/Guest" page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></Pagination>
    </div>
}