@model IEnumerable<TheHotel.Data.Entity.Room>

@{
    ViewData["Title"] = "Index";
}


<div class="tooltips float-lg-left">
    <i class="fas fa-info-circle"></i>
    <span class="tooltiptexts text-sm-left">
        Denne side viser antal værelser der er på hotellet<br /> <br />      

        Tabeller til højre viser antal ledige/optaget værelse<br />

    </span>
</div>

<div class="text-center">
    <h1 class="display-4">Værelser</h1>
</div>

<p><a class="btn btn-success btn-lg" asp-action="Create">Opret Nyt Værelse</a></p>

<table class="table col-8 table-hover float-left">
    <thead>
        <tr class="main-table">
            <th>
                @Html.DisplayNameFor(model => model.RoomNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNr)
                </td>
                <td>
                    @item.Price.ToString("C2")
                </td>
                <td>
                    @if (@item.RoomStatus) //"if RoomStatus == true"
                    {
                        <i class="fas fa-user-friends" />//Awesome Icons CSS
                    } else
                    {
                        <i class="far fa-user" />//Awesome Icons CSS
                    }
                </td>

                <td>
                    <a class="btn btn-dark btn-sm" asp-action="Edit" asp-route-id="@item.RoomId">Edit</a>
                    @*<a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.RoomId">Details</a>*@
                    <a class="btn btn-danger btn-sm confirmDeletion" asp-action="Delete" asp-route-id="@item.RoomId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<table class="table col-3 table-hover float-right">
    <thead>
        <tr class="main-table">
            <th>
                Ledige <i class="far fa-user" />
            </th>
            <th>
                Optaget <i class="fas fa-user-friends" />
            </th>
        </tr>
    </thead>
    <tbody>

        <tr class="align-content-center">
            <td>
                @ViewData["availableRooms"]
            </td>
            <td>
                @ViewData["busyRooms"]
            </td>
        </tr>
    </tbody>
</table>


@if (ViewBag.TotalPages > 1)
{
    <div class="d-flex w-100 justify-content-center">
        <Pagination page-count="@ViewBag.TotalPages" page-target="/Room" page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></Pagination>
    </div>
}